//inspired and based on https://github.com/florianlederer/mvv-display-for-ESP32

static const Config configs[] = {
    {
        /* bahnhof             */ "de:09162:2", //Marienplatz
	    /* include_type        */ "SBAHN",
        /* time_offset         */ "0",
    },
    {
        /* bahnhof             */ "8098263", //Hauptbahnhof
	    /* include_type        */ "BUS,UBAHN,SBAHN,TRAM",
        /* time_offset         */ "0",
    },
    {
        /* bahnhof             */ "de:09162:2", //Marienplatz
	    /* include_type        */ "UBAHN",
        /* time_offset         */ "0",
    },
};
