//inspired and based on https://github.com/florianlederer/mvv-display-for-ESP32

static const Config configs[] = {
    {
        /* bahnhof             */ "de:09162:2", //Marienplatz
	    /* include_type        */ {"*" },
        /* include_line        */ { "U3", "U6" },
        /* exclude_destination */ { "Feldmoching" },
    },
    {
        /* bahnhof             */ "8098263", //Hauptbahnhof
	    /* include_type        */ {"*" },
        /* include_line        */ { "*" },
        /* exclude_destination */ {  },
    },
    {
        /* bahnhof             */ "de:09162:2", //Marienplatz
	    /* include_type        */ {"*" },
        /* include_line        */ { "U2", "S2", "U6" },
        /* exclude_destination */ { },
    },
};
