static const Secret secrets[] = {
    {
        /* ssid           */ "SSID1",
        /* password           */ "PASSWORD1",
    },
    {
        /* ssid           */ "SSID2",
        /* password           */ "PASSWORD2",
    },
};
